.script-text p:first-child { 
    text-align: center;
}

.script-text {
    padding: 45px 147px;
    flex: 1;
}
.script-characters {
    align-self: flex-start;
    /* background-color: hsl(var(--editor-background)); */
}

.script-text p {
    padding: 15px 0;
}

.script-heading {
    text-transform: capitalize;
}

.script-card {
    /* padding-bottom: 50px; */
    overflow: scroll
}

.script-parent {
    height: 93vh;
}